Repository pwwang/liquidpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry2setuppy, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/|^docs/api\.md'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: masterpylintrc
        name: Overwrite local .pylintrc by master one
        entry: cp ../.pylintrc ./.pylintrc
        pass_filenames: false
        always_run: true
        language: system
-   repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.4.4
    hooks:
    -   id: pylint
        files: ^liquid/.+$
        pass_filenames: false
        types: [python]
        args: [liquid]
-   repo: local
    hooks:
    -   id: poetry2setuppy
        name: Convert pyproject.toml to setup.py
        # need to pass name directly to setup() for github
        # to track dependents
        entry: |
            bash -c "poetry build --format sdist | tail -1 | sed 's|.\+varname|cat dist/varname|' | bash | tar --wildcards --no-anchored '*/setup.py' -O -zxf - | sed \"s/'name': /# 'name': /\" | sed \"s/setup(/setup(name='varname', /\"  > setup.py"
        language: system
        files: pyproject.toml
        pass_filenames: false
    # -   id: poetry2requirements
    #     name: Convert pyproject.toml to requirements.txt
    #     entry: dephell deps convert --from=poetry --to=requirements.txt
    #     language: system
    #     files: pyproject.toml
    #     pass_filenames: false
    # -   id: api
    #     name: Generate API documentation
    #     entry: bash -c
    #     args: ['python api.py > docs/api.md']
    #     language: system
    #     pass_filenames: false
    #     files: ^liquid/.+$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^liquid/.+$

🔖 0.7.6
  docs/CHANGELOG.md
  liquid/__init__.py
  pyproject.toml
Due: poetry2setuppy, pytest

🐛 Futher fix #50
  liquid/exts/filter_colon.py
Due: pytest

Update deps
  poetry.lock
  pyproject.toml
Due: poetry2setuppy

Update deps
  poetry.lock
Due: none

💚 Fix CI
  poetry.lock
  pyproject.toml
Due: poetry2setuppy

💚 Add python 3.10 in CI
  .github/workflows/build.yml
  pyproject.toml
Due: poetry2setuppy

🔖 0.7.6
  poetry.lock
Due: none

0.7.6 (#51)
  .github/workflows/build.yml
  .gitignore
  docs/CHANGELOG.md
  liquid/__init__.py
  liquid/exts/filter_colon.py
  poetry.lock
  pyproject.toml
Due: poetry2setuppy, pytest

⬆️ Upgrade deps including markdown, regex, and python-slugify
  poetry.lock
  pyproject.toml
Due: poetry2setuppy

📌 Drop support for python3.6
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
Due: poetry2setuppy

🐛 Fix passing env to Liquid() not working
  liquid/liquid.py
  tests/test_liquid.py
Due: pytest

🔖 0.8.0
  docs/CHANGELOG.md
  liquid/__init__.py
  pyproject.toml
Due: poetry2setuppy, pytest

Dev (#53)
  .github/workflows/build.yml
  docs/CHANGELOG.md
  liquid/__init__.py
  liquid/liquid.py
  poetry.lock
  pyproject.toml
  tests/test_liquid.py
Due: poetry2setuppy, pytest

📝 Fix badges in README.md
  README.md
Due: none

👷 Use latest actions in CI
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

🏗️ Enable automatic setup file creation with Poetry
  pyproject.toml
Due: poetry2setuppy

⬆️ Upgrade dependent to the latest
  poetry.lock
Due: none

✨ Add `*` modifier for variable block to keep intial indention for multiline strings for all modes
  liquid/exts/ext.py
  tests/standard/test_basics.py
Due: pytest

📝 Update doc for "indent modifier"
  docs/basics.md
Due: none

🔖 0.8.1
  docs/CHANGELOG.md
  liquid/__init__.py
  pyproject.toml
Due: poetry2setuppy, pytest

0.8.1 (#54)
  docs/CHANGELOG.md
  docs/basics.md
  liquid/__init__.py
  liquid/exts/ext.py
  poetry.lock
  pyproject.toml
  tests/standard/test_basics.py
Due: poetry2setuppy, pytest

deps: bump jinja2 to 3.1.3
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
Due: poetry2setuppy

0.8.2
  docs/CHANGELOG.md
  liquid/__init__.py
  pyproject.toml
Due: poetry2setuppy, pytest

Add changes
  index.html
Due: none

dep: bump up dependencies
  poetry.lock
  pyproject.toml
Due: poetry2setuppy

style: fix code styles in tests
  tests/conftest.py
  tests/jekyll/test_jekyll_filters.py
  tests/jekyll/test_jekyll_front_matter.py
  tests/jekyll/test_jekyll_tags.py
  tests/shopify/test_shopify_filters.py
  tests/standard/test_basics.py
  tests/standard/test_filters.py
  tests/standard/test_tags.py
  tests/test_liquid.py
  tests/wild/test_include.py
  tests/wild/test_wild_tags.py
  tox.ini
Due: none

ci: update actions
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

ci: revert actions/upload-artifact to v3
  .github/workflows/build.yml
Due: none

chore(deps): bump jinja2 to 3.1.5
  poetry.lock
  pyproject.toml
Due: poetry2setuppy

ci: separate tests for python3.7
  .github/actions/liquidpy_test/action.yml
  .github/workflows/build.yml
Due: none

ci: update jinja2 installation in action.yml
  .github/actions/liquidpy_test/action.yml
Due: none

ci: add codacy coverage reporter step for Python 3.12 and jinja2
  .github/actions/liquidpy_test/action.yml
  .github/workflows/build.yml
Due: none

ci: update parameter names in build.yml for consistency
  .github/workflows/build.yml
Due: none

ci: fix variable name formatting in pytest results upload step
  .github/actions/liquidpy_test/action.yml
Due: none

ci: replace asterisk in jinja2 version for consistent pytest result naming
  .github/actions/liquidpy_test/action.yml
Due: none

ci: fix jinja2 variable reference in codacy coverage reporter condition
  .github/workflows/build.yml
Due: none
