Repository pwwang/liquidpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry2setuppy, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/|^docs/api\.md'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: masterpylintrc
        name: Overwrite local .pylintrc by master one
        entry: cp ../.pylintrc ./.pylintrc
        pass_filenames: false
        always_run: true
        language: system
-   repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.4.4
    hooks:
    -   id: pylint
        files: ^liquid/.+$
        pass_filenames: false
        types: [python]
        args: [liquid]
-   repo: local
    hooks:
    -   id: poetry2setuppy
        name: Convert pyproject.toml to setup.py
        # need to pass name directly to setup() for github
        # to track dependents
        entry: |
            bash -c "poetry build --format sdist | tail -1 | sed 's|.\+varname|cat dist/varname|' | bash | tar --wildcards --no-anchored '*/setup.py' -O -zxf - | sed \"s/'name': /# 'name': /\" | sed \"s/setup(/setup(name='varname', /\"  > setup.py"
        language: system
        files: pyproject.toml
        pass_filenames: false
    # -   id: poetry2requirements
    #     name: Convert pyproject.toml to requirements.txt
    #     entry: dephell deps convert --from=poetry --to=requirements.txt
    #     language: system
    #     files: pyproject.toml
    #     pass_filenames: false
    # -   id: api
    #     name: Generate API documentation
    #     entry: bash -c
    #     args: ['python api.py > docs/api.md']
    #     language: system
    #     pass_filenames: false
    #     files: ^liquid/.+$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^liquid/.+$

Update changelog
  docs/changelog.md
Due: none

Fix setup.py
  .pre-commit-config.yaml
  .pylintrc
  docs/requirements.txt
  liquid/utils.py
  setup.py
Due: pytest

Add markdownify
  liquid/filters/jekyll.py
  setup.py
Due: pytest

✨ Allow absolute path and pathlib.Path passed as template files
  .pylintrc
  liquid/defaults.py
  liquid/liquid.py
Due: pytest

🎨 Use flake8 instead pylint; add mypy type check
  .coveragerc
  .pre-commit-config.yaml
  .pylintrc
  README.rst
  liquid/defaults.py
  liquid/exts/ext.py
  liquid/exts/filter_colon.py
  liquid/exts/front_matter.py
  liquid/exts/standard.py
  liquid/filters/jekyll.py
  liquid/filters/manager.py
  liquid/filters/shopify.py
  liquid/filters/standard.py
  liquid/filters/wild.py
  liquid/liquid.py
  liquid/patching.py
  liquid/tags/jekyll.py
  liquid/tags/manager.py
  liquid/tags/shopify.py
  liquid/tags/standard.py
  liquid/tags/wild.py
  liquid/utils.py
  pyproject.toml
  setup.py
  tox.ini
Due: poetry2setuppy, pytest

✨ Allow add/sub to work with date filter (#38); Add filters_as_globals for wild mode
  liquid/defaults.py
  liquid/filters/standard.py
  liquid/liquid.py
  tests/standard/test_filters.py
Due: pytest

✅ Add full tests
  .coveragerc
  liquid/exts/ext.py
  liquid/filters/jekyll.py
  liquid/filters/standard.py
  liquid/tags/jekyll.py
  liquid/tags/manager.py
  liquid/tags/standard.py
  tests/conftest.py
  tests/jekyll/templates/parent.tpl
  tests/jekyll/templates/sub.tpl
  tests/jekyll/test_jekyll_filters.py
  tests/jekyll/test_jekyll_front_matter.py
  tests/jekyll/test_jekyll_tags.py
  tests/shopify/test_shopify_filters.py
  tests/standard/__init__.py
  tests/standard/test_basics.py
  tests/standard/test_filters.py
  tests/standard/test_tags.py
  tests/test_liquid.py
  tests/wild/__init__.py
  tests/wild/test_wild_tags.py
Due: pytest

💚 Try fixing CI
  .github/workflows/build.yml
  pyproject.toml
  tests/test_liquid.py
Due: poetry2setuppy

0.7.1
  docs/changelog.md
  liquid/__init__.py
  pyproject.toml
Due: poetry2setuppy, pytest

🐛 Fix date filter issues (#38, #40)
  .coveragerc
  liquid/filters/standard.py
  tests/standard/test_filters.py
Due: pytest

✨ Add markdownify for jekyll
  liquid/filters/jekyll.py
  pyproject.toml
  tests/jekyll/test_jekyll_filters.py
Due: poetry2setuppy, pytest

🔖 0.7.2
  docs/changelog.md
  liquid/__init__.py
  pyproject.toml
Due: poetry2setuppy, pytest

💚 Add markdown dep in CI
  .github/workflows/build.yml
Due: none

✅ Fix date filter tests
  tests/standard/test_filters.py
Due: none

✨ Add int, float, str and bool as both filters and globals for all modes
  liquid/filters/standard.py
  liquid/liquid.py
  tests/standard/test_filters.py
Due: pytest

📝 Update docs for builtin typecasting filters/globals.
  docs/changelog.md
  docs/standard.md
Due: none

📝 Update docs
  docs/standard.md
Due: none

✨ Add jekyll filter `number_of_words`
  .github/workflows/build.yml
  docs/changelog.md
  liquid/filters/jekyll.py
  pyproject.toml
  tests/jekyll/test_jekyll_filters.py
Due: poetry2setuppy, pytest

✨ Add jekyll filter `sort`
  liquid/filters/jekyll.py
  tests/jekyll/test_jekyll_filters.py
Due: pytest

✨ Add jekyll filter `slugify`
  .github/workflows/build.yml
  docs/changelog.md
  liquid/filters/jekyll.py
  pyproject.toml
  tests/jekyll/test_jekyll_filters.py
Due: poetry2setuppy, pytest

✨ Add jekyll filter `array_to_sentence_string`
  docs/changelog.md
  liquid/filters/jekyll.py
  tests/jekyll/test_jekyll_filters.py
Due: pytest

✨ Add jekyll filter `jsonify`
  docs/changelog.md
  liquid/filters/jekyll.py
  tests/jekyll/test_jekyll_filters.py
Due: pytest

✨ Add jekyll filters `xml_escape`, `cgi_escape` and `uri_escape`
  docs/changelog.md
  liquid/filters/jekyll.py
  tests/jekyll/test_jekyll_filters.py
Due: pytest

0.7.2 (#41)
  .coveragerc
  .github/workflows/build.yml
  docs/changelog.md
  docs/standard.md
  liquid/__init__.py
  liquid/filters/jekyll.py
  liquid/filters/standard.py
  liquid/liquid.py
  pyproject.toml
  tests/jekyll/test_jekyll_filters.py
  tests/standard/test_filters.py
Due: poetry2setuppy, pytest

🩹 Make `default` filter work with `None`; Make `attr` filter work with dicts
  docs/standard.md
  docs/wild.md
  liquid/exts/standard.py
  liquid/filters/manager.py
  liquid/filters/standard.py
  liquid/liquid.py
  liquid/tags/standard.py
  liquid/tags/wild.py
  tests/standard/test_filters.py
Due: pytest

🔖 0.7.3
  docs/changelog.md
  liquid/__init__.py
  pyproject.toml
Due: poetry2setuppy, pytest

📝 Update changelog
  docs/changelog.md
Due: none

0.7.3 (#43)
  docs/changelog.md
  docs/standard.md
  docs/wild.md
  liquid/__init__.py
  liquid/exts/standard.py
  liquid/filters/manager.py
  liquid/filters/standard.py
  liquid/liquid.py
  liquid/tags/standard.py
  liquid/tags/wild.py
  pyproject.toml
  tests/standard/test_filters.py
Due: poetry2setuppy, pytest

✅ Add tests regarding #47
  tests/wild/subtpl.liq
  tests/wild/test_include.py
Due: none

📌 Upgrade and pin dependencies
  .gitignore
  poetry.lock
  pyproject.toml
Due: poetry2setuppy

➕ Add toml as dep needed by python-frontmatter
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
Due: poetry2setuppy

🔖 0.7.4
  docs/changelog.md
  liquid/__init__.py
  pyproject.toml
Due: poetry2setuppy, pytest

0.7.4 (#48)
  .github/workflows/build.yml
  .gitignore
  docs/changelog.md
  liquid/__init__.py
  poetry.lock
  pyproject.toml
  tests/wild/subtpl.liq
  tests/wild/test_include.py
Due: poetry2setuppy, pytest

✨ Implement a playground powered by pyscript
  README.md
  docs/playground/index.html
  docs/playground/liquid.py
  docs/requirements.txt
Due: none

💚 [docs] Trigger docs deploy in CI
  .github/workflows/docs.yml
Due: none

✨ Add filter `call` for wild mode
  liquid/filters/wild.py
  poetry.lock
  pyproject.toml
  tests/wild/test_filters.py
Due: poetry2setuppy, pytest

🔖 0.7.5
  docs/CHANGELOG.md
  liquid/__init__.py
  pyproject.toml
Due: poetry2setuppy, pytest

🔖 0.7.5 (#49)
  .github/workflows/docs.yml
  README.md
  docs/CHANGELOG.md
  docs/playground/index.html
  docs/playground/liquid.py
  docs/requirements.txt
  liquid/__init__.py
  liquid/filters/wild.py
  poetry.lock
  pyproject.toml
  tests/wild/test_filters.py
Due: poetry2setuppy, pytest

🐛 Fix JSON/list parsing in certain cases (#50)
  .gitignore
  liquid/exts/filter_colon.py
Due: pytest
