Repository pwwang/liquidpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry2setuppy, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/|^docs/api\.md'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: masterpylintrc
        name: Overwrite local .pylintrc by master one
        entry: cp ../.pylintrc ./.pylintrc
        pass_filenames: false
        always_run: true
        language: system
-   repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.4.4
    hooks:
    -   id: pylint
        files: ^liquid/.+$
        pass_filenames: false
        types: [python]
        args: [liquid]
-   repo: local
    hooks:
    -   id: poetry2setuppy
        name: Convert pyproject.toml to setup.py
        # need to pass name directly to setup() for github
        # to track dependents
        entry: |
            bash -c "poetry build --format sdist | tail -1 | sed 's|.\+varname|cat dist/varname|' | bash | tar --wildcards --no-anchored '*/setup.py' -O -zxf - | sed \"s/'name': /# 'name': /\" | sed \"s/setup(/setup(name='varname', /\"  > setup.py"
        language: system
        files: pyproject.toml
        pass_filenames: false
    # -   id: poetry2requirements
    #     name: Convert pyproject.toml to requirements.txt
    #     entry: dephell deps convert --from=poetry --to=requirements.txt
    #     language: system
    #     files: pyproject.toml
    #     pass_filenames: false
    # -   id: api
    #     name: Generate API documentation
    #     entry: bash -c
    #     args: ['python api.py > docs/api.md']
    #     language: system
    #     pass_filenames: false
    #     files: ^liquid/.+$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^liquid/.+$

0.8.3
  docs/CHANGELOG.md
  liquid/__init__.py
  pyproject.toml
Due: poetry2setuppy, pytest

Add changes
  index.html
Due: none

feat: add 'each' filter in wild mode
  docs/wild.md
  liquid/filters/wild.py
  tests/standard/test_filters.py
  tests/wild/test_filters.py
Due: pytest

0.8.4
  docs/CHANGELOG.md
  liquid/__init__.py
  pyproject.toml
Due: poetry2setuppy, pytest

fix: update playground to use pyscript 2024.1.1
  docs/playground/index.html
  docs/playground/liquid.py
  docs/playground/pyscript.toml
Due: none

ci: update action description for clarity
  .github/actions/liquidpy_test/action.yml
Due: none

ci: add Python 3.13 to test matrix
  .github/workflows/build.yml
Due: none

chore: update pyproject.toml for dev dependencies and Python version support
  poetry.lock
  pyproject.toml
Due: poetry2setuppy

test: remove unused import
  README.md
  poetry.lock
  tests/jekyll/test_jekyll_filters.py
Due: none

0.8.5
  docs/CHANGELOG.md
  liquid/__init__.py
  pyproject.toml
Due: poetry2setuppy, pytest

fix: fix for "{{*" when there is no leading white spaces
  liquid/exts/ext.py
  tests/standard/test_basics.py
Due: pytest

0.8.6
  docs/CHANGELOG.md
  liquid/__init__.py
  pyproject.toml
Due: poetry2setuppy, pytest

refactor: use uv instead of poetry
  .github/actions/liquidpy_test/action.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
  poetry.lock
  pyproject.toml
  setup.py
  uv.lock
Due: poetry2setuppy

BREAK: drop support for python 3.7 and 3.8
  .github/workflows/build.yml
  .github/workflows/docs.yml
  pyproject.toml
  uv.lock
Due: poetry2setuppy

style: fix type annotation issues
  liquid/exts/ext.py
  liquid/exts/filter_colon.py
  liquid/exts/front_matter.py
  liquid/exts/standard.py
  liquid/filters/jekyll.py
  liquid/filters/manager.py
  liquid/filters/standard.py
  liquid/filters/wild.py
  liquid/liquid.py
  liquid/patching.py
  liquid/tags/manager.py
  liquid/tags/standard.py
  liquid/tags/wild.py
  liquid/utils.py
Due: pytest

style: update type annotations to use Optional for python 3.9 compatibility
  liquid/filters/jekyll.py
  liquid/filters/manager.py
Due: pytest

0.9.0
  docs/CHANGELOG.md
  liquid/__init__.py
  pyproject.toml
  uv.lock
Due: poetry2setuppy, pytest

fix: update python-frontmatter dependency for Python 3.9 compatibility
  pyproject.toml
  uv.lock
Due: poetry2setuppy

feat: add support for sandboxed environment in Liquid class for potential security issues
  liquid/liquid.py
  tests/test_liquid.py
Due: pytest

chore: add Pyright configuration to ignore tests directory
  pyproject.toml
Due: poetry2setuppy

ci: update substitute-string-action to version 4 in GitHub Actions workflow
  .github/actions/liquidpy_test/action.yml
Due: none

ci: replace Codacy coverage reporter with Coveralls in build workflow
  .github/workflows/build.yml
  README.md
Due: none

docs: add logo
  README.md
  logo.png
Due: none

docs: update favicon
  docs/favicon.png
Due: none

docs: update logo path and add logo image
  README.md
  docs/logo.png
Due: none

docs: update logo path in index.md for documentation build
  .github/workflows/docs.yml
Due: none

0.10.0
  docs/CHANGELOG.md
  liquid/__init__.py
  pyproject.toml
  uv.lock
Due: poetry2setuppy, pytest
